<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
                <div class="col-2">{{ server.hostname }}</div>
                <div class="col-2">{{ server.domain }}</div>
                <div class="col-2">{{ time.strftime('%b %d, %Y at %I:%M:%S %p', time.localtime(server.uploadTime)) }}</div>
                <div class="col-2"><a href="#copy{{ server.key }}" class="btn btn-info">Copy Hash</a></div>
                <div class="col-2"><a href="#collapse{{ server.key }}" class="btn btn-info" data-parent="#accordian" data-toggle="collapse">See Agent Data</a></div>
                <div class="col-2"><a href="/agent/config?guid={{ server.guid }}&hostname={{ server.hostname }}&domain={{ server.domain }}" class="btn btn-info">See Agent Config</a></div>
        </div>
    </div>
    <div class="collapse" id="collapse{{ server.key }}">
        <div class="card-body" id="target{{ server.key }}"></div>
    </div>
</div>