{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="card border-info m-3">
        <div class="card-body">
            <h4 class="card-title">Hostname: {{ hostname }}</h4>
            <p class="card-text">Domain: {{ domain }}</p>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped">
{% for field in config %}
            <tr>
                <td>{{ field }}</td>
                <td>{{ config[field] }}</td>
            </tr>
{% endfor %}
        </table>
        <a href="/agent/config/edit?guid={{ guid }}&hostname={{ hostname }}&domain={{ domain }}" class="col-2 btn btn-info m-3">Edit</a>
        <a href="/agent/config/reset?guid={{ guid }}&hostname={{ hostname }}&domain={{ domain }}" class="col-2 btn btn-danger m-3{% if isDefault %} disabled{% endif %}">Reset to Default</a>
    </div>
</div>
{% endblock %}