{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                        <div class="col-2">Host Name</div>

                        <div class="col-2">Domain</div>
                        <div class="col-2">Last Upload</div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                </div>
            </div>
        </div>
    <div class="accordian">
{% for server in servers %}
{% include "_server.html" %}
{% endfor %}
    </div>
</div>
<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not prev_url %}disabled{% endif %}">
            <a href="{{ prev_url or '#' }}" class="page-link">
                <span>&larr;</span>
            </a>
        </li>
        <li class="page-item {% if not next_url %}disabled{% endif %}">
            <a href="{{ next_url or '#' }}" class="page-link">
                <span>&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $('.accordian a').click(function(){
        if($(this).prop('data-toggle')){
            if($(this).hasClass("show")){
                $(this).removeClass("show");
            }else{
                var href = this.hash;
                var id = href.replace("#collapse",""); 

                $.getJSON('/agent/data/' + id)
                    .done(data => {
                        $('#target'+id).html(
                        '<pre>' + JSON.stringify(data['post'], undefined, 2) + '</pre>'
                        );
                    })
                    .then(() => $(this).addClass("show"));
            }
        }
    })
</script>
{% endblock %}